.popup-place {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,.5);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.popup-place__container {
  position: relative;
  background: #fff;
  width: calc(100% - 38px);
  max-width: 420px;
  min-width: 282px;
  margin: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 34px 36px 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
}

.popup-place__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  margin-bottom: 48px;
}

.popup-place__exit-button {
  position: absolute;
  height: 48px;
  width: 48px;
  top: -44px;
  right: -44px;
  padding: 8px;
  border: none;
  background: transparent;
  background-image: url(../../images/Exit-button-L.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.popup-place__exit-button:hover {
  opacity: .6;
}

.popup-place__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup-place__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  margin-bottom: 30px;
}

.popup-place__input:last-of-type {
  margin-bottom: 45px;
}

.popup-place__save-button {
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 0;
  background: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
}

.popup-place__save-button:hover {
  opacity: .8;
}

.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 558px) {
  .popup-place__exit-button {
    top: -63px;
    right: -6px;
  }
}

@media screen and (max-width: 425px) {
  .popup-place__container {
    padding: 25px 22px;
  }

  .popup-place__title {
    font-size: 18px;
    margin-bottom: 72px;
  }

.popup-place__exit-button {
    height: 37px;
    width: 37px;
    top: -51px;
    right: 0;
    background-image: url(../../images/Exit-button-S.svg);
  }
}