.header {
  min-height: 118px;
  border-bottom: 1px solid #545454;
  padding-top: 45px;
}

@media screen and (max-width:720px) {
  .header {
    padding-left: 8px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    min-height: 82px;
  }
}