.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  border-radius: 2px;
  border: 2px solid #fff;
  background: initial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 282px;
  }
}