.popup__save-button {
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 0;
  background: #000;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 435px) {
  .popup__save-button {
    height: 46px;
  }
}