.popup__save-button {
  height: 50px;
  background: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 0;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 435px) {
  .popup__save-button {
    height: 46px;
  }
}