.element__button {
  border: none;
  background: inherit;
  padding: 8px;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  cursor: pointer;
}

.element__button:hover {
  opacity: .5;
}