.popup__icon-exit {
  background-image: url(../../../images/exit.svg);
  width: 33px;
  height: 33px;
  background-size: cover;
  display: block;
}

@media screen and (max-width: 435px) {
  .popup__icon-exit {
    width: 21px;
    height: 21px;
  }
}